body {
    background-color: rgb(132, 107, 107);
}

#container {
    background-color: gold;
    width: 65%;
    margin: 20px auto ;
    border: 50px solid white;
    padding: 20px;
}

#banner {
    width: 100%;
}

.heading_style {
    text-shadow: 2px 1px 2px #000000 ;
}

.movie_post {
    width: 40%;
}

img{
    display: block;
    margin: 0 auto;
    width: 300px;
}

nav {
    text-align: center;
    margin-top: 20px 0;
    background-color: rgb(100, 99, 99);
    padding: 5px;
    border-radius: 10px ;
}
main{
    display: center;
}

nav ul {
    list-style-type: none ;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
display: block;
color: rgb(255, 247, 247);
font-size: 24px;
font-weight:bolder ;
text-decoration: none;
margin: 0 20px;
width: 125px;
height: 40px;
}

nav a:hover {
    background-color: white;
    color: black;
}



h1, h2, h3, footer {
    text-align: center;
}
